/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
hgroup, menu, nav, section, #introduction img {
	display: block
}
header, h1, nav ul, #filters, #contact form, #login, 
#login h2, #login form, #editMode, #editMode h4, #editButton,
#modalDeleteWork, #modalAddWork, #portfolio, #portfolio h2,
#modalHead, #pictureArea, #modalNewWorkForm, 
.formElement, #preview, #newWorkImageArea, #setNewWorkImage,
 #modal, .modalFooter {
	display: flex
}
#introduction, #gallery, #modalGallery {
	display: grid;
}
h1, #portfolio, #login, #contact form, #login form,
 #modalDeleteWork, #modalAddWork, #modalNewWorkForm, .formElement, 
 #setNewWorkImage, #preview {
	flex-direction: column;
}
#editMode, .login form, #login, #login h2, #filters,
 #portfolio h2, #newWorkImageArea, .modalFooter, .exeButton, 
 #setNewWorkImage, #preview {
	justify-content: center;
}
nav ul, #editMode, #editMode h4, #introduction, #editButton, 
#setNewWorkImage, #preview, .exeButton {
	align-items: center;
}
#contact > *, input[type="submit"], #login form a, #modalContainer, 
#modalContainer h3 {
	text-align: center;
}
#contact form, #login form, #modalNewWorkForm { 
	text-align: left;
}
#editButton, input[type="submit"], #modalHead button, .trashButton, 
#addWorkButton, .exeButton {
	cursor: pointer;
}
.overlay, #modalContainer, .modalFooter {
	position: fixed;
}
h1, h2, #filters button, input[type="submit"], .exeButton {
	font-family: 'Syne';
}
#editButton, #editMode h4, #modalHead button {
	background: none;
}
#editButton, #contact input, #contact textarea ,#login input, 
#editMode h4, #modalHead button, .trashButton,#newWorkTitle, #newWorkCategory, 
#addWorkButton, .exeButton {
	border: none;
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
/** end reset css**/

body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8
}
header, main {
	width: 1140px;
	margin: auto
}
header {
	justify-content: space-between;
	margin: 3.1em auto
}
section {
	margin: 3.1em 6.5em
}
h1{
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-weight: 550;
	line-height: 2.5em;
	font-size: 9.2px;
	letter-spacing: 0.1em
}
h2{
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	gap: 3.1em;
	list-style-type: none
}
nav li {
	padding: 0;
	font-size: 1.2em
}
li:hover {
	color: #B1663C
}
nav li img {
	width: 1.2em;
	height: 1.2em
}
#introduction {
	padding: 5em 0;
	grid-template-columns: 50% 43%;
	column-gap: 7%;
}
#introduction figure, #introduction article {
	flex: 1
}
#introduction img {
	width: 100%
}
#introduction h2 {
	margin-bottom: 1em
}
#introduction p {
	margin-bottom: 1.5em;
	width: 100%
}
#portfolio h2 {
	gap:0.9em;
}
#editButton {
	gap:0.8em;
}
#filters {
	gap: 0.6em;
	margin: 2em 0
}
#filters button {
	font-size: 1em;
	color: #1D6154;
	padding: 0.5em;
	background-color: transparent; 
    border: solid 0.1em;
    border-color: #1D6154;
    border-radius: 1.6em;
}
#filters button:focus, #filters button:active {
	background-color: #1D6154;
	color: white
}
.filters .Tous {
	padding: 0 1.8em
}
.filters .Objets {
	padding: 0 1.2em
}
.filters .Appartements {
	padding: 0 0.8em
}
#gallery {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px
}
#gallery img {
	width: 100%
}
#gallery p {
	margin-top: 0.5em;
}
#contact {
	width: 50%;
	margin: auto
}
#contact h2{
	margin-bottom: 20px
}
#contact form {
	margin-top:30px;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}
#contact label {
	margin: 2em 0 1em 0
}
#contact textarea {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}
input[type="submit"] {
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	border-radius: 60px; 
}
footer {
	height: auto;
	background-color: white;
}
footer nav ul {
	justify-content: flex-end;
	padding: 1.5em 5em; 
}
#login {
	width: 35%;
	margin: 12em auto 25em auto
}
#login h2 {
	margin-bottom: 20px
}
#login form {
	margin: top 30px;
}
#login label {
	margin: 2em 0 1em 0
}
#login input {
	height: 3.125em;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}
#login input[type="submit"]{
	width: 12.5em;
	height: 2.5em
}
	/* mode edition */

#editMode {
	width: 100%;
	height: 3.7em;
	background-color: black;
}
#editMode h4 {
	color: white;
	gap: 0.8em;
}

	/* Modal */
.overlay {
	width : 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.5);
}
.imageOverlay {
	opacity: 50%;
	z-index: 1;
}
#modal {
	position: absolute;
	top: 0; 
	left: 0;
	height: 100%;
	width: 100%;
}
#modalContainer {
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45.5em;
	height: 49em;
	box-sizing: border-box;
	border-radius: 1em;
	background-color: white;
}
#modalHead {
	justify-content: space-between;
}
#modalHead button {
	margin: 2em 2em 1em ;
}
#modalReturnButton {
	visibility:hidden;
}
#modalContainer h3 {
	font-size: xx-large;
}
#modalDeleteWork, #modalAddWork {
	margin: 0 7.5em 0 7.5em;
}
#modalGallery {
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: min-content;
	column-gap: 0.5em;
	row-gap: 2em;
	margin: 4em 0;
}
#modalGallery img {
	position: relative;
	height: 7.8em;
	width: 5.7em;
}
.trashButton {
	position: absolute;
	z-index: 1;
	margin: 0.5em 0.5em 0 4em;
	padding: 0.25em 0.35em;
	background: black;
	border-radius: 0.15em;
	color: white;
}
#modalNewWorkForm {
	justify-content: space-around;
}
#modalNewWorkForm label {
	margin: 2em 0 1em 0;
	font-weight: bold;
}
#setNewWorkImage, #preview {
	margin-top: 3em;
	background-color: #E8F1F6;
	height: 15em;
	font-size: smaller;
}
#setNewWorkImage i{
	color: #CBD6DC;
}	
#setNewWorkImage label{
	margin-top: 0;
}
#imagePreview {
	width: 12em;
	height: 15em;
}
#addWorkButton {
	background-color: #CBD6DC;
	color:#306685;
	border-radius: 1.5em;
	font-weight: 550;
	letter-spacing: 0.05em;
	padding: 0.8em 3em;
	margin: 0.5em 0 0.5em 0;
}
#newWorkImage {
	display:none;
}
.invalid {
	border: 0.2em solid red;
}
#newWorkTitle, #newWorkCategory {
	height: 3.125em;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}
.modalFooter {
	width: 67%;
	bottom: 0;
	height: 8em;
	margin: 0 7.5em;
	border-top: solid 0.2em; 
	border-color: #B3B3B3;
}
.exeButton {
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border-radius: 1.5em; 
	height: 3em;
	width: 18em;
	margin: 2.5em 0;
}
.invalidButton {
	background-color: #A7A7A7;
}
.validButton {
	background-color: #1D6154;
}